<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UmbracoExtension.Core.Properties.Settings.UmbracoExtensionConnectionString"
            connectionString="Data Source=.;Initial Catalog=UmbracoExtension;Persist Security Info=True;User ID=UmbracoUser;Password=123qwe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>